.invoice-container {
  padding: 1rem;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.p-tag {
  font-size: 0.75rem;
}

.text-center {
  text-align: center;
}